/**
 *  EXTRA STYLING USED IN DOCUMENTATION
 */

 /* button key style */
span.key,
span.keyboard{
    display:            inline-block;
    border-top:         solid 2px;
    border-left:        solid 2px;
    border-right:       solid 0.25px;
    border-bottom:      solid 0.25px;
    padding:            0rem 0.5rem;
    min-width:          1rem;
    text-align:         center;  
    font-size:          1rem;
}
span.key{
    border-radius:      1rem;
}
span.keyboard{
    border-radius:      0.125rem;
}
span.key span,
span.keyboard span{
    font-size:          1.1rem;
    margin-top:         0.5rem;
}


/** SIDE GUIDE STYLING*/
article.isSideGuide{
    line-height:        1.5;
    font-size:          1rem;
}

article.isSideGuide p,
article.isSideGuide dl,
article.isSideGuide ol,
article.isSideGuide ul {
    font-size:          0.85rem;
    line-height:        1.35rem;
}

article.isSideGuide p {
    margin-top:         0.85rem;
    margin-bottom:      0.85rem;
}

article.isSideGuide .subtitle-block{
    margin-top:         2vh;
}
article.isSideGuide .subtitle{
    font-size:          x-large;
    font-weight:        700;
    text-align:         right;
}
article.isSideGuide span.key span,
article.isSideGuide span.keyboard span{
    font-size:          0.65rem;
    margin-top:         0rem;
    margin-bottom:      0rem;

}
article.isSideGuide span.key,
article.isSideGuide span.keyboard {
    font-size:          0.8rem;
    padding:            0.125rem 0.2rem;
    border-top:         solid 0.25px;
    border-left:        solid 0.25px;
    border-right:       solid 2px;
    border-bottom:      solid 2px;
}
article.isSideGuide span.keyboard {
    padding:            0rem 0.25rem;
}
/* .isSideGuide  h1, */
.isSideGuide  label,
.isSideGuide  input,
.isSideGuide  span.sidenote,
.isSideGuide  .sideguide-hide{
    display: none
}
