
svg {
    --canvas-bg:                    var(--color-bg);
    --ridge-line:                   var(--epa-primary-lime-life);
    --ridge-area:                   var(--epa-primary-deep-ocean);
    --ridge-area-recovered:          var(--epa-primary-cool-air);


    --title-color:                  var(--epa-primary-deep-ocean);
    --section-color:                var(--epa-primary-day-sky);
    --subtitle-color:               var(--color-bg);
    --recovered-color:              var(--epa-primary-lime-life);
    --all-waste:                    var(--epa-primary-deep-ocean);

    --recover-rate-0:               var(--epa-primary-deep-ocean);
    --recover-rate-100:           var(--epa-primary-cool-air);

    g.vis-group{
        text{
            fill:                       var(--color-fg);
            opacity:                0.65;
        }
        rect{
            &.bg{
                fill:                  var(--color-bg);
            }
        }

        g.volume-change-group{

            text{
                &.title{
                    text-anchor:            start;
                    font-weight:            500;
                    dominant-baseline:      hanging;
                }

                &.ridge-label{
                    &.start{
                        tspan{
                            text-anchor:    end;
                        }
                    }
                }

                tspan{
                    dominant-baseline:      central;
                }
            }

            path{
                &.ridge-area{
                    fill:                   var( --ridge-area);
                    &.recovered{
                        fill:               var(--ridge-area-recovered);
                    }
                }

                &.ridge-line{
                    fill:                   none;
                    stroke:                 var(--color-bg);

                    &.generated{
                        stroke:                 var(--color-bg);
                        stroke-linecap:         square;
                    }
                }
            }   
        
            rect{
                &.ridgeline-bg{
                    fill:                   var(--ridge-area);
                    &.recovered{
                        fill:               var(--ridge-area-recovered);
                    }
                }
            }
        }

        g.recovery-rate-group{

            text{
                &.sparkline-title{
                    text-anchor:                middle;
                    dominant-baseline:          hanging;
                }

                &.sparkline-value{
                    text-anchor:                middle;

                    &.end{
                        font-weight:            700;
                        dominant-baseline:      auto;
                    }
                }

                &.sparkline-date{
                    opacity:                    0.5;
                    dominant-baseline:          hanging;

                    &.start{ text-anchor:       start; }
                    &.end{  text-anchor:        end; }
                }
            }

            path{
                &.sparkline-line{
                    fill:               none;
                    stroke:             var(--color-fg);
                    stroke:             none;
                }
                &.sparkline-area{
                    /* fill:               var(--color-fg); */

                }
            }

        }
    }


    g.annotation-group{
        text{
            dominant-baseline:          hanging;
            text-anchor:                middle;

            &.title{
                font-weight:            800;
                fill:                   var(--title-color);
            }

            &.subtitle{
                fill:                   var(--subtitle-color);
                font-weight:            600;
            }

            &.section{
                fill:                   var(--section-color);
                font-weight:            600;
                dominant-baseline:      central;
                /* opacity:                0.5; */

                &.volume-change{
                    dominant-baseline: alphabetic;
                }

                &.recovery-rate {
                    text-anchor:        start;
                }
            }
        }

        line{
            &.section-divider{
                stroke:                 var(--color-fg);
                stroke-opacity:         0.075;
                stroke-width:           3.5;
            }
        }
    }
}
