:root{

}
svg {
    --landfill-flow:                #9a9a9a;
    --aggregate-masonry-and-soils:  var( --epa-loud-cherry);

    --canvas-bg:                    var(--color-bg);
    --ridge-line:                  var(--color-fg);
    --ridge-area:                   var(--color-bg);
    --title-color:                  var(--epa-primary-deep-ocean);
    --subtitle-color:                  var(--epa-primary-cool-air);

    --no-recovery:        var(--epa-primary-deep-ocean);
    --mid-recovery:        var(--epa-primary-cool-air);
    --full-recovery:        var(--epa-primary-lime-life);

    g.vis-group{
        text{
            fill:                       var(--color-fg);
        }
        rect.bg{
            /* stroke:              #ccc; */
            fill:                  var(--color-bg);
        }

        g.volume-change-group{

            text{
                &.title{
                    text-anchor:            start;
                    font-weight:            500;
                    dominant-baseline:      hanging;
                }

                &.ridge-label{
                    &.start{
                        tspan{
                            text-anchor:    end;
                        }
                    }
                }

                tspan{
                    dominant-baseline:      central;
                }
            }

            path{
                &.ridge-area{
                    fill:                   var( --ridge-area);
                }

                &.ridge-line{
                    fill:                   none;
                    stroke:                 var(--ridge-line);
                    &.
                }
            }
        
        }

        g.recovery-rate-group{

            text{
                &.sparkline-title{
                    text-anchor:                middle;
                    dominant-baseline:          hanging;
                }

                &.sparkline-value{
                    text-anchor:                middle;

                    &.end{
                        font-weight:            700;
                        dominant-baseline:      auto;
                    }
                }

                &.sparkline-date{
                    opacity:                    0.5;
                    dominant-baseline:          hanging;

                    &.start{ text-anchor:       start; }
                    &.end{  text-anchor:        end; }
                }
            }

            path{
                &.sparkline-line{
                    fill:               none;
                    stroke:             var(--color-fg);
                    stroke:             none;
                }
                &.sparkline-area{
                    /* fill:               var(--color-fg); */

                }
            }

        }

    }


    g.annotation-group{
        text{
            dominant-baseline:          hanging;
            text-anchor:                middle;

            &.title{
                font-weight:            800;
                fill:                   var(--title-color);
            }

            &.subtitle{
                fill:                   var(--subtitle-color);
                font-weight:            600;
            }

            &.section{
                fill: var(--color-fg);
                font-weight:            600;
                dominant-baseline:      central;
                opacity:                0.5;

                &.volume-change{
                    dominant-baseline: alphabetic;
                }

                &.recovery-rate{
                    text-anchor:        start;
                }
            }
        }

        line{
            &.section-divider{
                stroke:                 var(--color-fg);
                stroke-opacity:         0.25;
            }
        }

    }
}