g.facet-chart{
    text {
        &.waste-stream-label{
            text-anchor:        middle;     
            dominant-baseline:  middle;     
            font-weight:        600;

            &.msw{ fill:  var(--msw);  }
            &.ci{  fill:  var(--c_and_i);  }
            &.cd{  fill:  var(--c_and_d);  }
        }

        &.material-label{
            text-anchor:        start;
            font-weight:        300;
            fill:               var(--dark);
            text-transform:     lowercase;
            dominant-baseline:   middle;
            opacity:            0.25;
        }

        &.recovery-rate-label{
            text-anchor:        middle;
            dominant-baseline:  middle;
            font-weight:        600;

            &.msw{ fill:  var(--msw);  }
            &.ci{  fill:  var(--c_and_i);  }
            &.cd{  fill:  var(--c_and_d);  }
        }
    }

    circle.recovered{
        &.msw{ fill:  var(--msw);  }
        &.ci{  fill:  var(--c_and_i);  }
        &.cd{  fill:  var(--c_and_d);  }
    }

    polygon.landfill{
        fill:       transparent;
        stroke:      var(--dark);
    }
}